<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ultimate Login</title>
  <link rel="stylesheet" href="styles/login.page.css">
</head>
<body>

  <div class="wrapper">
    
<div class="particles">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

    <div class="login-card">

      <div class="avatar">
        <span>👤</span>
      </div>

      <h1>Welcome Back</h1>

      <div class="input-group">
        <input type="text" placeholder="Please, enter the username">
        <input type="password" placeholder="Please, enter the password">
      </div>

      <button class="login-btn">LOGIN</button>

    </div>

  </div>

</body>
</html>
